# Database Credentials
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=pms_db

# Database string needed by Prisma locally
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@localhost:5432/${DB_NAME}?schema=public

# Redis Configuration
REDIS_URL=redis://localhost:6379

# JWT Secrets
JWT_ACCESS_SECRET=your_access_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key

# Node Server Port
PORT=4000
